body {
  background: #082032;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0 0;
  padding: 3vh 0 3vh 0;
  background: #272640;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
.tituloPrincipal {
  color: #ced4da;
  margin-left: 5%;
  font-size: 30px;
}
.btn-link-nav {
  margin-right: 5%;
  width: 90px;
  height: 39px;
  font-size: 25px;

  border: none;
  border-radius: 10px;
  background: #d19e25;
  color: #ced4da;
}

.container-conteudo{
    background: #101010;
}
.materia-principal{
    display: flex;
    align-items: center;

    margin: 0 250px;
}
.conteudo-texto{
    color: #ced4da;
    font-size: 25px;
    margin-right: 10%;
}
.conteudo-img{
    padding: 25px;
    width: 200px;
}

@media (max-width: 1058px) {
    .materia-principal{
        flex-direction: column-reverse;
    } 
    .conteudo-texto{
        text-align: left;
        align-items: center;
        margin: 3% auto;
    }
}
@media (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tituloPrincipal {
    margin: 0 auto;
  }
  .btn-link-nav {
    margin: 0 auto;
    margin-top: 30px;
  }
}
